body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    margin-left: 0
}


main {
    max-width: 450px;
    max-height: 690px;
    border-radius:20px;
    overflow:hidden;
    background-color: white;
    display: inline-block;
  
}

h1 {
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight:900
}

.image {
    max-height: 30%
}

.inner-container {
    margin: 10%;
    text-align: center;
}

.features {
    color:hsl(224, 23%, 55%);
    line-height:1.5
}

.selected-plan {
    background-color: hsl(225, 100%, 98%);
    width: 90%;
    margin: 5% auto 7% auto;
    border-radius: 15px;
    padding: 6% 5%;
    display: flex;
    align-items:center;
}

.music-icon-container {
    width:20%;
    margin-top: 10px;
}

.plan-details {
    margin-left: 10px;
    margin-right:auto;
}

.plan-name {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin:4px 0
}

.plan-price {
    color: hsl(224, 23%, 55%)
}

.change {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 700;
    font-size: 15px;
}

.change:hover {
    color: rgb(118, 108, 241);
    text-decoration: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: hsl(245, 75%, 52%);
    color:white;
    border:none;
    border-radius: 15px;
    margin-bottom: 7%;
    font-weight: 700;
    font-size:15px;
    box-shadow: 0 10px 50px 1px rgb(177, 168, 254)
}

button:hover {
    background-color: rgb(118, 108, 241)
}

.cancel {
    font-weight: 700;
    color: hsl(224, 23%, 55%)
}

.cancel:hover {
    color: hsl(223, 47%, 23%)
}

@media only screen and (max-height:720px) {
    body {
        height: auto;
    }

    main {
        position:static;
        transform:none;
        max-height:none;
        justify-content:left
    }
}
